.light{
    background-color: $light-bg;

    &::before{
        background-color: $light-bg-top;

    }

}

.light-card-text{
    color: $light-card-text;
}

.light-text
{
    color: black;
}

.light-card
{
    background-color: $light-card;
    transition: all 300ms;
    &:hover{
        cursor: pointer;
        background-color: darken($light-card, 5%);
    }
    
}

.light-switch{
    // background: $toggle-light !important;
    &::after{
        background-color: $light-bg !important;
        // transform: translateX(20px);
    }
}



.attribution{
    color: grey;
    text-align: center;
    padding-top: 2rem;
    a{
        text-decoration: none;
        color: green;
    }
}

// MEDIA QUERIES

@media(max-width:440px){
    html{
        font-size: 50%;
    }
   .dashboard__head > *{
       flex-basis: 100%;
   }

   .dashboard__title{
       padding-bottom: 2rem;
       margin-bottom: 1rem;
       border-bottom: 1px solid gray;
   }

   .dashboard__switch{
       width: 100%;
       justify-content: space-between;
   }
  
}